page-search-blood {
    .high-item{
        background-color:green
    }
    .low-item{
        background-color:red
    }
    .normal-item{
        background-color:orange
    }
    .error-item{
        background-color: lightcoral
    }
    .large-text{
        font-size: 25px
    }

}
