page-donation-campaign {
    .success-item{
        background-color: lightgreen
    }
    .error-item{
        background-color: lightcoral
    }
    .large-text{
        font-size: 20px
    }

    .medium-text{
        font-size: 15px
    }
    .card-color{
        background-color: lightblue;
    }

}
