page-updates-page {
    .success-item{
        background-color: lightgreen
    }
    .error-item{
        background-color: lightcoral
    }
    .large-text{
        font-size: 20px
    }
    .card-ok{
        background-color: lightgreen
    }
    .card-not-ok{
        background-color: lightcoral
    }
}
