page-add-emergency-request {
    .success-item{
        background-color: lightgreen
    }
    .error-item{
        background-color: lightcoral
    }
    .large-text{
        font-size: 20px
    }
    .test-area{
       max-width: 100%;
       width: 100%;
       height: 40vh;



    }


}
